{% load static %}
{% include "finalApp/header.html" %}


<center>

<div class="listing-content">

<h1>{{listing.title}}</h1>

<div style="margin-bottom: 15px">
 <img src="{% static 'images/'|add:listing.file_path %}" style="width: 15%; height: 15%" class="card-img custom-img" alt="...">
</div>

<form action="" method="post" enctype="multipart/form-data">
 {% csrf_token %} 
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control"id="title" value="{{listing.title}}" name="title">
    {{form.title.errors}}
  </div>
  <div class="form-group">
    <label for="text">Description</label>
    <input type="textarea" rows="5" class="form-control" id="text" value="{{listing.text}}" name="text">
    {{form.text.errors}}
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input type="text" class="form-control" id="price" value="{{listing.price}}" name="price">
    {{form.price.errors}}
  </div>
  <div class="form-group">
    <label for="inventory">Inventory</label>
    <input type="text" class="form-control" id="inventory" value="{{listing.inventory}}" name="inventory">
    {{form.inventory.errors}}
  </div>
  <button onclick="myFunction()" class="btn btn-danger">Delete</button>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>
</center>
