{% load static %}
{% include "finalApp/header.html" %}


<center>
<h2>Listings</h2>
<div>

<button class="btn btn-primary" onclick="location.href = '/listing/create';" type="submit">New Listing</button>

<div class="listing-content">

{% comment %} Section for MY LISTINGS {% endcomment %}
<div class="listing-section">
<h4>My Listings</h4>

{% for l in my_listings %}

  <div class="card mb-3 custom-card">

  <div class="row" >
    <div class="col-md-5 listing-img">
      <img src="{% static 'images/'|add:l.file_path %}" class="img-responsive center-img card-img custom-img " alt="..." >
    </div>
    <div class="col-md-7">
      <div class="card-body">
        <h5 class="card-title">{{l.title}}</h5> 
        <p class="card-text">{{l.text}}</p>
        <p class="card-price"><small class="text-text">$</small>{{l.price}}</p>
        <p class="card-inventory"><small class="text-text">{{l.inventory}} left</small></p>
        <p class="card-text"><small class="text-muted">Last updated at {{l.edit_date}}</small></p>
        <p class="card-author">By {{l.author}}</p>
        <!-- Button trigger modal -->
        <form method='post' action='#'>
          {% csrf_token %} 
          <button type="submit" value="AddToCart" name='AddToCart'>BUY</button>
          <input type="hidden" id="author" name="author" value="{{l.author}}">
          <input type="hidden" type = "text" id="title" name="title" value="{{l.title}}">
          <input type="hidden" id="file_path" name="file_path" value="{{l.file_path}}">
          <input type="hidden" type = "text" id="text" name="text" value="{{l.text}}">
          <input type="hidden" id="price" name="price" value={{l.price}}>
        </form>
        <button onclick="location.href = '/listing/edit/{{l.id}}';" type="button" class="btn btn-secondary">
          Edit
        </button>
      </div>
    </div>
  </div>
</div>

{% endfor %}
</div>


{% comment %} Section for ALL LISTINGS {% endcomment %}
<div class="listing-section">
<h4>All Listings</h4>
{% for l in listings %}

  <div class="card mb-3 custom-card">

  <div class="row" >
    <div class="col-md-5 listing-img">
      <img src="{% static 'images/'|add:l.file_path %}" class="img-responsive center-img card-img custom-img " alt="..." >
    </div>
    <div class="col-md-7">
      <div class="card-body">
        <h5 class="card-title">{{l.title}}</h5> 
        <p class="card-text">{{l.text}}</p>
        <p class="card-price"><small class="text-text">$</small>{{l.price}}</p>
        <p class="card-inventory"><small class="text-text">{{l.inventory}} left</small></p>
        <p class="card-text"><small class="text-muted">Last updated at {{l.edit_date}}</small></p>
        <p class="card-author">By {{l.author}}</p>
        <form method='post' action='#'>
          {% csrf_token %} 
          <button type="submit" value="AddToCart" name='AddToCart'>BUY</button>
          <input type="hidden" id="author" name="author" value="{{l.author}}">
          <button onclick="location.href = '/chat/{{l.author}}';" type="button" class="btn btn-secondary">
            Join Chatroom
          </button>
          <input type="hidden" type = "text" id="title" name="title" value="{{l.title}}">
          <input type="hidden" id="file_path" name="file_path" value="{{l.file_path}}">
          <input type="hidden" type = "text" id="text" name="text" value="{{l.text}}">
          <input type="hidden" id="price" name="price" value={{l.price}}>
        </form>
      </div>
    </div>
  </div>
</div>

{% endfor %}
</div>
<form method='post' action='#'>
  {% csrf_token %} 
    <input type="submit" value="Buy" name="Buy"/>
</form>
</div>
</div>
</center>

