{% include "finalApp/header.html" %}

<center>
<div class="account-forms"> 
<h2>Create Account</h2>
<form action="" method="post">
    {% csrf_token %}
    <p>
      Username: <input type="text" name="username" value="{{form.data.username}}" class="form-control" />
      {{ form.username.errors }}
    </p>
    <p>
      Email: <input type="text" name="email" value="{{form.data.email}}" class="form-control" />
      {{ form.email.errors }}
    </p>
    <p>
      Create Password: <input type="password" name="password" class="form-control" />
      {{ form.password.errors }}
    </p>
    <p>
      Confirm Password: <input type="password" name="password_confirm" class="form-control" />
      {{ form.password_confirm.errors }}
    </p>
    <p>
      <input type="submit" value="Create" />
    </p>
</form>
</div>
</center>




