{% load static %}
<html>
    <head>
        <title>The Marketplace</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        
        <link rel="stylesheet" type="text/css"  href="{% static 'css/finalApp.css' %}" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap" rel="stylesheet">

        
    </head>
    <body>
        <div class="header-content">
            
            <div> 
            <h1>The Marketplace</h1>
            </div>

            <div class="nav-content">
                <a class=>Account</a>
                <a>My Listings</a>
                <a>Browse</a>
                <a>Logout</a>
            </div>

        </div>
    </body>

</html>