{% load static %}
{% include "finalApp/header.html" %}
<html>
<body onload="setQuantity()" id="body">
  <center>
  <div align="left">
    {% if messages %}
    <ul class="messages" >
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
  </div>
{% comment %} Section for MY LISTINGS {% endcomment %}
<div class="listing-section">

{% if OOS_Listings%}
<h4>Out of Stock</h4>
{%endif%}

{% for l in OOS_Listings %}

  <div class="card mb-3 custom-card">

  <div class="row" >
    <div class="col-md-5 listing-img">
      <img src="{% static 'images/'|add:l.file_path %}" class="img-responsive center-img card-img custom-img " alt="..." >
    </div>
    <div class="col-md-7">
      <div class="card-body">
        <h5 class="card-title">{{l.title}}</h5> 
        <p class="card-text">{{l.text}}</p>
        <p class="card-price"><small class="text-text">$</small>{{l.price}}</p>
        <p class="card-inventory" style="color:red"><small class="text-text">{{l.inventory}} left</small></p>
        <p class="card-author">By {{l.author}}</p>
      </div>
    </div>
  </div>
</div>

{% endfor %}
</div>
<div class="listing-section">

{% if IS_Listings%}
<h4 align="left" style="padding-left: 8rem;">Order Summary</h4>
{%endif%}


{% for l in IS_Listings %}
  <table style="background: white; opacity: 0.90; border-bottom: 1px solid #e9e9e9" width="70%" >
  <tr>
    <td width="20%" style="padding: 1rem">
      <!-- img -->
      <img src="{% static 'images/'|add:l.file_path %}" style="max-height:100%; max-width:100%" alt="..." >
    </td>
    <td width="15%" style="padding: 1.5rem">
      <!-- name and price -->
      <h5>{{l.title}}</h5>
      <p class="card-price">${{l.price}}</p>
      <p class="card-author"><small class="text-text">By {{l.author}}</small></p>
      
    </td>
    <td width="50%" style="padding: 1rem">
      <!-- text -->
      <p class="card-text">{{l.text}}</p>
    </td>
    <td width="15%" id="row{{l.id}}">
      <!-- <p align="center" style="color: grey"> Qty: 2</p> -->
    </td>
  </tr>
</table>

{% endfor %} 
<table style="background: white;" width="70%" >
  <tr >
    <td style="padding: 2rem 1rem 1rem 0rem" id = "price">
     
    </td>
  </tr>
  
</table >

  
  
</div>
</div>
<div>
  <h3 align="left" style="padding-left: 8rem">Billing Information</h3>
  <table class = "payment" width="40%">
    <tr>
      <td >
         <h6 align="left">First Name</h6>
          <input type="text" name="FirstName">
      </td>
      <td >
         <h6 align="left">Last Name</h6>
          <input type="text" name="LastName">
      </td>
    </tr>
  </table>
  <table class = "payment" width="40%">
    <tr>
      <td>
         <h6 align="left">Credit Card Number</h6>
          <input type="text" name="CCnum">
      </td>
    </tr>
    </table>
    <table class = "payment" width="40%">
    <tr>
      <td style="padding-bottom: 1rem">
        <h6 align="left">Month</h6>
        
          <select class="custom-select">
            <option value="01">01</option>
            <option value="02">02</option>
            <option value="03">03</option>
            <option value="04">04</option>
            <option value="05">05</option>
            <option value="06">06</option>
            <option value="07">07</option>
            <option value="08">08</option>
            <option value="09">09</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
          </select>
        
      </td>
      <td style="padding-bottom: 1rem">
        <h6 align="left">Year</h6>
        
          
          <select class="custom-select">
            <option value="20">2020</option>
            <option value="21">2021</option>
            <option value="22">2022</option>
            <option value="23">2023</option>
            <option value="24">2024</option>
            
          </select>
   
        
        
      </td>
    </tr>
  </table>
  <table class = "payment" width="40%">
    <tr>
      <td >
         <h6 align="left">Province/State</h6>
          <input type="text" name="Province">
      </td>
      <td >
         <h6 align="left">Zip/Postal Code</h6>
          <input type="text" name="Postal Code">
      </td>
    </tr>
  </table>
    <table class = "payment" width="40%">
    <tr>
    <tr>
      <td>
         <h6 align="left">Street Address</h6>
          <input type="text" name="AddrLine1">
      </td>
    </tr>
    </table>
    <table class = "payment" width="40%">
    <tr>
      <td style="padding-bottom: 2rem">
        <h6 align="left">Country</h6>
        
          
          <select class="custom-select">
            <option value="Canada">Canada</option>
          <option value="United States of America">United States of America</option>
          </select>
   
        
        
      </td>
    </tr>
  </table>
</div>

<form method='post' action='#'>
  {%csrf_token%}
  <!-- <button type="submit" value="buy" name="buy" id="buy">Buy</button> -->
  <input type="submit" value="Checkout" name="buy" id="buy" class="btn btn-primary"/>
</form>




</body>


<script type="text/javascript">
  var cartMap = new Map();
  var totalPrice = 0;
  window.addEventListener ? 
  window.addEventListener("load",load,false) : 
  window.attachEvent && window.attachEvent("onload",load);
  
  function load(){
    cartMap = new Map(JSON.parse(window.localStorage.getItem('cartMap')));
    totalPrice =JSON.parse(window.localStorage.getItem('totalPrice'));
    setQuantity();
    setPrice();
    
  }

  function setQuantity(){
    
    
    for(var i=0; i< Array.from(cartMap.keys()).length; i++){


      var key = Array.from(cartMap.keys())[i];

      var qty = cartMap.get(key).length;

      var qtyRow = document.getElementById("row" +key);
      console.log(qtyRow==null);

      var qtyPara = document.createElement("P");

      qtyPara.setAttribute("align", "center");
      qtyPara.setAttribute("style", "color: grey");
      qtyPara.setAttribute("id", "test");

      var qtyText = document.createTextNode("Qty: " + qty);
      qtyPara.appendChild(qtyText);
      qtyRow.appendChild(qtyPara);

    }
    
  }

  function setPrice(){

     // <h6 align="right">Total Price: $100.00</h6>
     var totPrice = document.createElement("h6");
     totPrice.setAttribute("align", "right");

     totPrice.appendChild(document.createTextNode("Total Price: $" +totalPrice.toFixed(2)));

     document.getElementById("price").appendChild(totPrice);

  }
  document.getElementById("buy").addEventListener("click", buy);
  function buy(){
    
    window.localStorage.clear();
  }

  

</script>


</html>

